html, body {
    margin: 0;
    padding-top: 25px;
    overflow-x: hidden;
}

.navigation-bar nav {
    font-family: Arial, serif;
    font-weight: bold;
    float: right;
    color: gray;
    text-align: center;
    padding-top: 17px;
    padding-left: 50px;
    font-size: 17px;
}

.navigation-bar nav-main {
    background: black;
    font-family: "Times New Roman", Serif, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 10px 37px;
    border: 10px black;
    float: left;
}