html, body {
    margin: 0;
    padding-top: 25px;
    overflow-x: hidden;
}

.navigation-bar nav {
    font-family: Canela, serif;
    float: right;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 17px;
}

.navigation-bar nav:hover {
    text-decoration: underline;
}

.navigation-bar nav-main {
    background: black;
    font-family: "Canela", Serif, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 10px 37px;
    border: 10px black;
    float: left;
}